<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - WorkIn</title>
    <link rel="stylesheet" href="/css/login-styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="login-container">
    <h1>WorkIn</h1>
    <button type="submit" id="frequency">Frequência</button>
    <button type="submit" id="schedule">Treino</button>
    <a href="login" class="register-link">Sair</a>
</div>
<script src="/js/home-script.js"></script>
</body>
</html>
