body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

:root {
    --background-color-light: #f5e9dc;
    --text-color-light: #000;
    --background-color-dark: #2c2c2c;
    --text-color-dark: #f5e9dc;
}

body.light-mode {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
}

body.dark-mode {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
}

.login-container {
    background-color: #dcdcdc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #7b5840;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #634838;
}

.register-link {
    display: block;
    margin-top: 10px;
    color: #7b5840;
}

.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
}
