body {
    font-family: 'Inria-Serif', sans-serif;
    background-color: #D9D9D9;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

.login-container {
    width: 90vw;
    height: 90vh;
    margin: 5vw auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #3D242424;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    text-align: center;
    color: #A4524D;
    margin-bottom: 60px;
    font-size: 60px;
}

.input-group {
    margin-bottom: 15px;
    width: 360px;

}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #D9D9D9;
}

button {
    width: 360px;
    padding: 10px;
    background-color: #A4524D90;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    margin-top: 30px;
}

button:hover {
    opacity: 0.85;
}

.register-link {
    display: block;
    text-align: right;
    margin-top: 40px;
    margin-bottom: 30px;
    color: #A4524D;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}

.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
}

.theme-toggle img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
